@{
    ViewData["Title"] = "Об авторе";
}
<h1>@ViewData["Title"]</h1>
<img src="~/imgs/Avatar.png" alt="Не удалось загрузить фото." height="400"/>
<p>Студент Студентов 2020.</p>
<a href="https://twitter.com/search?q=%23%D0%91%D0%AD%D0%A2%D0%9C%D0%95%D0%9D">Твиттер автора.</a>